<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.datashops.dao.mapper.JobInstanceMapper">
    <select id="findJobInstanceListPaging" resultType="com.bigdata.datashops.model.pojo.job.JobInstance">
        SELECT a.*
        FROM t_job_instance a
        left join t_job b
        on a.job_id = b.id
        where a.status = 1
        <if test="name != null and name != ''">
            and b.name like concat('%', #{name}, '%')
        </if>
        <if test="operator != null and operator != ''">
            and a.operator like concat('%', #{operator}, '%')
        </if>
        order by a.create_time desc
    </select>
</mapper>
